body, .content {
    background: #eee url(../img/gradient_squares.png) left top repeat;
}

body {
    font-size: 16px;
    @media screen and (max-width: 767px) {
        font-size: 12px;
    }
}

.question {
    font-size: 1.2em;
}

.clear {
    overflow: hidden;
}


.options-list.list.inset {
    margin: 20px 0;
    li {
        padding: 0;
        label {
            display: block;
            padding: 10px;
            font-size: 1.5em;
        }

        &.incorrect {
            background: #D13C38;
            background: rgb(255,48,25); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,48,25,1)), color-stop(100%,rgba(207,4,4,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(0,0,0,0.2);
            color: #fff;

            position: relative;

            &:after {
                font-family: "fontello";
                font-style: normal;
                font-weight: normal;
                speak: none;
                content: '\e811';

                position: absolute;
                right: 15px;
                top: 15%;
                background: #000;
                width: 21px;
                height: 30px;
                line-height: 30px;
                padding-left: 9px;
                border-radius: 100px;
            }
        }

        &.correct {
            background: rgb(83, 180, 79);
            background: rgb(143,196,0); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(143,196,0,1) 0%, rgba(118,165,0,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(118,165,0,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(118,165,0,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(118,165,0,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(143,196,0,1) 0%,rgba(118,165,0,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(143,196,0,1) 0%,rgba(118,165,0,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#76a500',GradientType=0 ); /* IE6-9 */
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(0,0,0,0.2);
            color: #fff;

            position: relative;

            &:after {
                font-family: "fontello";
                font-style: normal;
                font-weight: normal;
                speak: none;
                content: '\e810';

                position: absolute;
                right: 15px;
                top: 15%;
                background: #000;
                width: 21px;
                height: 30px;
                line-height: 30px;
                padding-left: 9px;
                border-radius: 100px;
            }

        }

        .strike {
            visibility: hidden;
        }
    }
}

.alert {
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    &.warning {
        background-color: rgb(250, 191, 103);
        color: rgb(151, 96, 13);
        em {
            color: #000;
        }
    }

    &.success {
        background-color: rgb(83, 180, 79);
        color: #fff;
    }

    &.danger {
        background-color: #D13C38;
        color: #fff;
    }

    &.secondary {
        background: #f1f1f1;
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }
}


.page_container {
    overflow: hidden;
}

.page {
    position: relative;
    opacity: 0.1;
    width: 90%;
    min-width: 240px;
    max-width: 600px;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    box-shadow:
    0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
    0 10px 0 -5px #fffffd, /* The second layer */
    0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
    0 20px 0 -10px #fffffd, /* The third layer */
    0 20px 1px -9px rgba(0,0,0,0.15), /* The third layer shadow */
    0 0px 10px rgba(black, .10);

    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    margin: 30px auto;

    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.bottom-cta {
    margin: 0 auto;
    box-shadow: none;
    background: transparent;
    width: 90%;
    min-width: 240px;
    max-width: 600px;
    margin-bottom: 20px;

    ul.list {
        margin: 0;
        li {
            background: rgb(205,235,139); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(205,235,139,1) 0%, rgba(205,235,139,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(205,235,139,1)), color-stop(100%,rgba(205,235,139,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(205,235,139,1) 0%,rgba(205,235,139,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8b', endColorstr='#cdeb8b',GradientType=0 ); /* IE6-9 */
            border: 1px solid #CBD17D;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
    }
}

.page:not(.active) {
    top: 30px;
}

.page.active {
    top: 0;
    opacity: 1;
}

.push-right {
    float: right;
}

.test-mode-list {

    &.books {
        margin-top: 50px;
    }

    h2 {
        font-size: 2em;
        margin-bottom: 10px;
        @media screen and (max-width: 480px) {
            font-size: 1.2em;
        }
    }

    .subheader {
        font-weight: 400;
        color: gray;
    }
}


.test-list {
    list-style: none;

    & > li {
        margin-bottom: 50px;
    }

    span.count {
        color: gray;
        font-weight: 400;
    }
}

.timer-wrapper {
    margin-bottom: 30px;

    .button-main {
        height: 44px;
    }
}

.question {
    font-size: 1.5em;
    .button-50 {
        margin-top: 5px;
        float: right;
    }    
}



.row {
    overflow: hidden;
    .span10 {
        width: 82%;
        float: left;
    }
    .span2 {
        width: 15%;
        margin-left: 3%;
        float: right;

        .button {
            width: 100%;
        }
    }

    @media screen and (max-width: 480px) {

        .span10 {
            width: 75%;
            float: left;
        }
        .span2 {
            width: 22%;
            margin-left: 3%;
        }
        
    }
}


#info {
    h2 {
        text-align: center;
        font-size: 2em;
        small {
            color: gray;
            display: block;
            font-size: 0.7em;
        }
    }
}
.social-media-list {
    list-style: none;
}

.centered {
    text-align: center;    
}

.help {
    color: gray;
}

#recommended_books {
    iframe {
        width: 110px;
        height: 240px;

        @media screen and (max-width: 480px) {
            width: 100px;
        }
    }
}