<div id="info" class="page {{transitionState}}">

    <h2>
        Thanks for using India GKQuiz app.
        <small>
            We hope that you find this app to be a useful companion in your exam preparation.
        </small>
    </h2>

    <br>

    <p class="lead">
        If you have any questions or suggestions for improvement, please write to Bharani at <a href="mailto:bharani@abhayam.co.in">bharani@abhayam.co.in</a>. If you found this app helpful, help us spread the work by sharing this app with your friends.
    </p>

    <br>


    <p class="centered help">
        Developed by <a href="http://www.resumonk.com" target="_blank" title="Online Resume Builder">Bharani Muthukumaraswamy</a>.
    </p>

</div>