<div class="page {{transitionState}}" >

    

    <ul class="list inset test-mode-list">
        <li>
            <a href="#/practice/{{rand}}">
                <h2><i class="icon-doc"></i> Practice Mode</h2>
                <h4 class="subheader">No time limit - Sharpen your GK Skills</h4>
                <span class="chevron"></span>
            </a>
        </li>
        <li>
            <a href="#/test">
                <h2><i class="icon-chart"></i> Test Mode</h2>
                <h4 class="subheader">Answer 25 questions in 10 minutes</h4>
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
    

    <ul class="list inset test-mode-list books">
        <li>
            <a href="#/recommended-books">
                <h2><i class="icon-book"></i> Recommended Books</h2>
                <h4 class="subheader">Best GK and General Awareness books recommended by experts</h4>
                <span class="chevron"></span>
            </a>
        </li>
    </ul>

</div>
