<div class="page {{transitionState}}" >

    

    <ul class="list inset test-mode-list">
        <li>
            <a href="#/practice/{{rand}}">
                <h2>Practice Mode</h2>
                <h4 class="subheader">No time limits - Sharpening your GK Skills</h4>
                <span class="chevron"></span>
            </a>
        </li>
        <li>
            <a href="#/test">
                <h2>Test Mode</h2>
                <h4 class="subheader">Answer 15 questions in 5 minutes</h4>
                <span class="chevron"></span>
            </a>
        </li>
    </ul>
    

    <ul class="list inset test-mode-list books">
        <li>
            <a href="#/recommended-books">
                <h2>Recommended Books</h2>
                <h4 class="subheader">Best GK and General Awareness books recommended by experts</h4>
                <span class="chevron"></span>
            </a>
        </li>
    </ul>

</div>
