<div id="info" class="page {{transitionState}}">

    <h2>
        Thanks for using India GKQuiz app.
        <small>
            We hope that you find this app to be a useful companion in your exam preparation.
        </small>
    </h2>

    <br>

    <p class="lead">
        If you have any questions or suggestions for improvement, please write to Bharani at <a href="mailto:bharani@abhayam.co.in">bharani@abhayam.co.in</a>. If you found this app helpful, help us spread the work by sharing this app with your friends.
    </p>

    <br>

    <ul class="social-media-list">
        <li>
            <a href="#" class="button main facebook button-block" target="_blank"><i class="icon-facebook-squared"></i> Share on Facebook</a>
        </li>

        <li>
        <a href="#" class="button main twitter button-block" target="_blank"><i class="icon-twitter"></i> Share on Twitter</a>
        </li>

        <li>
            <a href="#" class="button main gplus button-block" target="_blank"><i class="icon-gplus"></i> Share on Google+</a>
        </li>
    </ul>

    <br>

    <p class="centered help">
        Developed by <a href="http://www.resumonk.com" title="Online Resume Builder">Bharani Muthukumaraswamy</a>.
    </p>

</div>