<div id="recommended_books" class="page {{transitionState}}">
    <h2 class="centered">Recommended Books</h2>
    <ul class="list inset test-mode-list">
        <li>
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+ias&affid=bharaniabh">
                <h3>GK books for UPSC IAS - CSAT (Civil Service) Prelims</h3>
                <span class="chevron"></span>
            </a>
        </li>

        <li>
            <a href="http://www.flipkart.com/search?q=current+affairs+2013&affid=bharaniabh">
                <h3>
                    General Awareness and Current Affairs 2013-2014
                    <span class="chevron"></span>
                </h3>
            </a>
        </li>

        <li>
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+exams&affid=bharaniabh">
                <h3>General Knowledge books for Competitive Exams</h3>
                <span class="chevron"></span>
            </a>
        </li>



        <li>
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+in+hindi&affid=bharaniabh">
                <h3>GK and Current Affairs books in Hindi</h3>
                <span class="chevron"></span>
            </a>
        </li>

        <li>
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+bank+po+exams&affid=bharaniabh">
                <h3>GK books for Banking, Bank PO and Finance exams</h3>
                <span class="chevron"></span>
            </a>
        </li>
        
        <li>
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+children&affid=bharaniabh">
                <h3>General Knowledge Books for Children</h3>
                <span class="chevron"></span>
            </a>
        </li>
        <li>
            <a href="http://www.flipkart.com/search?q=general+knowledge+books+for+ssc&affid=bharaniabh">
                <h3>SSC General Awareness and GK books</h3>
                <span class="chevron"></span>
            </a>
        </li>
    </ul>

    <br>
    
    <iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-138190801813292500" scrolling="no" marginwidth="0" marginheight="0" ></iframe>

    <iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-138190787880059166" scrolling="no" marginwidth="0" marginheight="0" ></iframe>

    <iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-138190784940430742" scrolling="no" marginwidth="0" marginheight="0" ></iframe>
    
    <iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-138190763517118551" scrolling="no" marginwidth="0" marginheight="0" ></iframe>

    <iframe src="http://www.flipkart.com/affiliate/displayWidget?affrid=WRID-138190766845274051" scrolling="no" marginwidth="0" marginheight="0" ></iframe>



</div>

